name: CI

on:
  pull_request:
    branches: [ master, 3.7.x ]

  push:
    branches: [ master, 3.7.x ]

  schedule:
    - cron: "0 23 * * *"

# The jobs are split into multiple steps solely so it is easier to
# track progress, and see what takes time.

jobs:
  build-tools:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install Nix
      uses: cachix/install-nix-action@v10
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - uses: cachix/cachix-action@v6
      with:
        name: nixos-rocm
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

    - name: rocminfo
      run: nix-build '<nixpkgs>' --arg overlays "[ (import $PWD/pkgs/all-packages.nix) ]" -A rocminfo

    - name: rocm-smi
      run: nix-build '<nixpkgs>' --arg overlays "[ (import $PWD/pkgs/all-packages.nix) ]" -A rocm-smi

  build-compilers:
    runs-on: ubuntu-latest

    needs: build-tools

    steps:
    - uses: actions/checkout@v2

    - name: Install Nix
      uses: cachix/install-nix-action@v10
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - uses: cachix/cachix-action@v6
      with:
        name: nixos-rocm
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

    - name: rocm-llvm
      run: nix-build '<nixpkgs>' --arg overlays "[ (import $PWD/pkgs/all-packages.nix) ]" -A llvmPackages_rocm.llvm

    - name: rocm-clang
      run: nix-build '<nixpkgs>' --arg overlays "[ (import $PWD/pkgs/all-packages.nix) ]" -A llvmPackages_rocm.clang

    - name: rocm-opencl-runtime
      run: nix-build '<nixpkgs>' --arg overlays "[ (import $PWD/pkgs/all-packages.nix) ]" -A rocm-opencl-runtime

    - name: hip
      run: nix-build '<nixpkgs>' --arg overlays "[ (import $PWD/pkgs/all-packages.nix) ]" -A hip-clang

  build-miopen:
    runs-on: ubuntu-latest

    needs: build-compilers

    steps:
    - uses: actions/checkout@v2

    - name: Install Nix
      uses: cachix/install-nix-action@v10
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - uses: cachix/cachix-action@v6
      with:
        name: nixos-rocm
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

    - name: rocblas
      run: nix-build '<nixpkgs>' --arg overlays "[ (import $PWD/pkgs/all-packages.nix) ]" -A rocblas

    - name: miopen-hip
      run: nix-build '<nixpkgs>' --arg overlays "[ (import $PWD/pkgs/all-packages.nix) ]" -A miopen-hip

  build-rocfft:
    runs-on: ubuntu-latest

    needs: build-compilers

    steps:
    - uses: actions/checkout@v2

    - name: Install Nix
      uses: cachix/install-nix-action@v10
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - uses: cachix/cachix-action@v6
      with:
        name: nixos-rocm
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

    - name: rocfft
      run: nix-build '<nixpkgs>' --arg overlays "[ (import $PWD/pkgs/all-packages.nix) ]" -A rocfft

  build-rccl:
    runs-on: ubuntu-latest

    needs: build-compilers

    steps:
    - uses: actions/checkout@v2

    - name: Install Nix
      uses: cachix/install-nix-action@v10
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - uses: cachix/cachix-action@v6
      with:
        name: nixos-rocm
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

    - name: rccl
      run: nix-build '<nixpkgs>' --arg overlays "[ (import $PWD/pkgs/all-packages.nix) ]" -A rccl

  build-rocrand:
    runs-on: ubuntu-latest

    needs: build-compilers

    steps:
    - uses: actions/checkout@v2

    - name: Install Nix
      uses: cachix/install-nix-action@v10
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - uses: cachix/cachix-action@v6
      with:
        name: nixos-rocm
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

    - name: rocrand
      run: nix-build '<nixpkgs>' --arg overlays "[ (import $PWD/pkgs/all-packages.nix) ]" -A rocrand-python-wrappers

  # This builds rocprim, and hipcub as dependencies. Their builds are
  # very quick.
  build-rocsparse:
    runs-on: ubuntu-latest

    needs: build-compilers

    steps:
    - uses: actions/checkout@v2

    - name: Install Nix
      uses: cachix/install-nix-action@v10
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - uses: cachix/cachix-action@v6
      with:
        name: nixos-rocm
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

    - name: rocsparse
      run: nix-build '<nixpkgs>' --arg overlays "[ (import $PWD/pkgs/all-packages.nix) ]" -A rocsparse

    - name: hipsparse
      run: nix-build '<nixpkgs>' --arg overlays "[ (import $PWD/pkgs/all-packages.nix) ]" -A hipsparse

    - name: rocthrust
      run: nix-build '<nixpkgs>' --arg overlays "[ (import $PWD/pkgs/all-packages.nix) ]" -A rocthrust

